In [2]:
import json
import pandas as pd

In [3]:
with open('data/p0.json', 'r') as f:
    df0 = pd.DataFrame.from_dict(json.load(f)['leaderboard'], orient='columns')

with open('data/p1.json', 'r') as f:
    df1 = pd.DataFrame.from_dict(json.load(f)['leaderboard'], orient='columns')

df = pd.concat([df0, df1])
df = df.drop(['userId', 'name', 'avatar', 'addresses', 'twitterId', 'discord', 'twitter', 'discordId', 'connectedWallet'], axis=1)
len(df)

1820

In [12]:
# df_over1k = df[df['xp'] > 1000]
df = df[df['xp'] > 1000]
round_svy_total = 20000
total_xp = df['xp'].sum()
total_xp

3123565

In [13]:
df['proportion'] = df['xp'] / total_xp
df['amount'] = df['proportion'] * round_svy_total

In [14]:
df

,xp,numberOfQuests,address,proportion,amount
0,14995,141,0x51F6749Dee3510F983C15B7c239CC6df4e4054Ea,0.004801,28.803627
1,14530,119,0x7c318bfBe63833E7a291e130337652C94C6EE464,0.004652,27.910416
2,12030,87,0x46f3cC6a1c00A5cD8864d2B92f128196CAE07D15,0.003851,23.108211
3,11470,97,0x56EbC608fD6B8F8CeF2775a3Ee0DddaEc01A7000,0.003672,22.032517
4,11240,96,0xa3732fC9d975f9Aa1cfD069C991cDd3714d7c8f8,0.003598,21.590714
...,...,...,...,...,...
194,1040,31,0x84228C27160D93A18f7Ab99e5ab0A25F70A75904,0.000333,1.997717
195,1020,13,0x13ec91f359f5a9bea51db52d7170f312e71e1fab,0.000327,1.959300
196,1010,10,0x2fB9697459D0824a3E5856Cda92eAE93a215F2F9,0.000323,1.940091
197,1010,10,0x0cd7420bacdccb80a275d8d0e759de2b472bcb9e,0.000323,1.940091
198,1010,12,0x7e0fef1c3bf356f9fc0fb876fbfcaa9e53574226,0.000323,1.940091

In [37]:
df.to_csv('data/round1.csv')

In [7]:
df_over1k

        xp  numberOfQuests                                     address
0    14995             141  0x51F6749Dee3510F983C15B7c239CC6df4e4054Ea
1    14530             119  0x7c318bfBe63833E7a291e130337652C94C6EE464
2    12030              87  0x46f3cC6a1c00A5cD8864d2B92f128196CAE07D15
3    11470              97  0x56EbC608fD6B8F8CeF2775a3Ee0DddaEc01A7000
4    11240              96  0xa3732fC9d975f9Aa1cfD069C991cDd3714d7c8f8
..     ...             ...                                         ...
194   1040              31  0x84228C27160D93A18f7Ab99e5ab0A25F70A75904
195   1020              13  0x13ec91f359f5a9bea51db52d7170f312e71e1fab
196   1010              10  0x2fB9697459D0824a3E5856Cda92eAE93a215F2F9
197   1010              10  0x0cd7420bacdccb80a275d8d0e759de2b472bcb9e
198   1010              12  0x7e0fef1c3bf356f9fc0fb876fbfcaa9e53574226

[1199 rows x 3 columns]